/* Modern Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}

/* Smooth Scroll Behavior is handled by 'scroll-smooth' class in HTML, 
   but we can enforce it here too */
html {
    scroll-behavior: smooth;
}

/* Custom Selection Color */
::selection {
    background-color: #ccfbf1;
    /* brand-100 */
    color: #134e4a;
    /* brand-900 */
}